<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">BookStore</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="loginForm" ng-controller="BookLoginCtrl">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            用户名：
                        </label>
                        <div class="col-md-10">
                            <input name="username" type="text" class="form-control" placeholder="请输入用户名邮箱" ng-model="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            密码：
                        </label>
                        <div class="col-md-10">
                            <input name="password" type="password" class="form-control" placeholder="请输入密码" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group" ng-if="warning.tip">
                        <label class="col-md-2"></label>
                        <div class="col-md-10 error_tip">{{warning.infor}}</div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-primary btn-lg" ng-click="login()">登录</button>
                            <button ui-sref="" class="btn btn-default btn-lg">注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>